DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_PORT=DB_PORT
DB_URL=DB_URL
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION_MINUTES=JWT_EXPIRATION_MINUTES
ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASSWORD=ADMIN_PASSWORD
